.box {
   position: relative;
   background-color: lightgray;
   border-top: 5px solid black;
   border-left: 5px solid black;
   width: 100vw;
   height: 300px;
}
div {
   position: absolute;
   width: 100px;
   height: 100px;
}
.cube1 {
   left: 0;
   background-color: red;
   transition: 3s;
}
.cube2 {
   left: 0;
   top: 125px;
   background-color: green;
   transition: 2s;
   transition-delay: 1s;
}
section:hover div {
   background-color: yellow;
   left: 90%;
}
